
button{
	margin: 15px 0;
	background-color: #00BFFF;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 6px;
	width: 30%;
}
button:hover{
	color: #00BFFF;
	background-color: white;
}
input{
	background-color: white;
	border: 1px solid #191970;
	border-radius: 4px;
	padding: 6px;
	margin-top: 15px;
}
.dialogs{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.dialog{
	width: 30%;
	margin: 5px;
}
.user{
	text-align: center;
	padding: 15px;
}
.user a{
	color: white;
	text-decoration: none;
}
.messages{
	margin: 5px;
	display: flex;
	flex-direction: column;
}
.message{
	padding: 15px;
	font-size: 17px;
	display: flex;
}
.text{
	margin: 0 100px;
}
